<%- layout("/layouts/boilerplate") %>

<div class="container mt-4">

    <!-- Title -->
    <div class="row">
        <div class="col-8 offset-2">
            <h3><%= listing.title %></h3>
        </div>
    </div>

    <!-- Listing Card -->
    <div class="row mt-2">
        <div class="col-8 offset-2">
            <div class="card show-card">
                <img src="<%= listing.image %>" class="card-img-top show-img" alt="listing-image">
                <div class="card-body">
                    <p class="card-text">
                        <%= listing.description %><br>
                        &#8377;<%= listing.price.toLocaleString("en-IN") %><br>
                        <%= listing.location %><br>
                        <%= listing.country %>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Buttons -->
    <div class="row mt-3 mb-4">
        <div class="col-8 offset-2 d-flex gap-3">
            <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark edit-btn">
                Edit
            </a>

            <form action="/listings/<%= listing._id %>?_method=DELETE" method="post">
                <button class="btn btn-dark">Delete</button>
            </form>
        </div>
    </div>

    <!-- Review Section -->
    <div class="row">
        <div class="col-8 offset-2">
            <h4>Leave a Review</h4>

            <form action="/listings/<%= listing._id %>/reviews" method="post" novalidate class="needs-validation">
                <div class="mb-3">
                    <label for="rating" class="form-label">Rating</label>
                    <input
                        type="range"
                        id="rating"
                        name="review[rating]"
                        min="1"
                        max="5"
                        class="form-range"
                        required>
                </div>

                <div class="mb-3">
                    <label for="comment" class="form-label">Comment</label>
                    <textarea
                        name="review[comment]"
                        id="comment"
                        class="form-control"
                        rows="4"
                        required></textarea>
                    <div class="invalid-feedback">
                        Please provide a comment.
                    </div>
                </div>

                <button class="btn btn-outline-dark">Submit</button>
            </form>
<hr>
            <h4>All Reviews</h4>
            <% for(review of listing.reviews){ %>
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">
                            <%= review.comment %><br>
                            <%= review.rating %>/5
                        </p>
                    </div>
                </div>
            <% } %>


        </div>
    </div>

</div>
